<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>English Note Hub</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
  <div class="header-left">
    <div class="logo">Web Note</div>
  </div>
  <div class="header-center">
    <div class="search-box">
      <input type="text" placeholder="Search notes...">
      <button>Search</button>
    </div>
  </div>
  <div class="header-right">
    <a href="#">Login</a>
    <a href="#">📘</a>
  </div>
</header>

  <main>
     <nav>
        <ul>
          <li><a href="#">All Notes</a></li>
          <li><a href="#">Grammar</a></li>
          <li><a href="#">Vocabulary</a></li>
          <li><a href="#">Idioms</a></li>
        </ul>
     </nav>
     <section class="banner">
      <div class="slider" data-controller="slider">
          <div class="note-slide">
             <h3>Grammar Tip</h3>
             <p>Use present perfect for experiences.</p>
          </div>
          <div class="note-slide">
             <h3>Vocabulary</h3>
             <p>‘Serendipity’ means a happy accident.</p>
          </div>
          <div class="note-slide">
             <h3>Idiom</h3>
             <p>‘Break the ice’ means to start a conversation.</p>
          </div>
          <div class="note-slide">
             <h3>Grammar Tip</h3>
             <p>Use present perfect for experiences.</p>
          </div>
          <div class="note-slide">
             <h3>Grammar Tip</h3>
             <p>Use present perfect for experiences.</p>
          </div>
          <div class="note-slide">
             <h3>Grammar Tip</h3>
             <p>Use present perfect for experiences.</p>
          </div>
      </div>
     </section>
  </main>
</body>
</html>