/* app/assets/stylesheets/users.css */

/*登録ページ*/
.register-page {
  flex: 1; /* ヘッダーを除いた残りの領域を使う */
  display: flex;
  flex-direction: column;
  justify-content: center; /* 縦中央 */
  align-items: center;     /* 横中央 */
  padding: 0 20px;         /* 横の余白だけ */
  text-align: center;
}


.register-page h1 {
  margin-bottom: 30px;
  font-size: 28px;
}

.register-header .logo{
  font-weight: bold;
  color: white;
  text-decoration: none; /* ← 下線を消す */
}

.register-form {
  width: 100%;
  background: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 400px;
}

.register-form .form-group {
  margin-bottom: 20px;
  text-align: left;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #493a3a;
}

.register-form .submit-button {
  width: 100%;
  padding: 12px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.register-form .submit-button:hover {
  background-color: #424242;
}

/* ログインページ全体 */
.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.login-header {
  background-color: var(--main-color); /* 共通変数を使う */
  display: flex;
  justify-content: center; /* 中央に配置 */
  align-items: center;
}

.login-header .logo a {
  font-weight: bold;
  color: white;
  text-decoration: none; /* 下線を消す */
}

/* フォームを整える */
.login-form {
  background: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}

.login-form h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.login-form .form-group {
  margin-bottom: 20px;
  text-align: left;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.login-form .submit-button {
  width: 100%;
  padding: 12px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.login-form .submit-button:hover {
  background-color: #2f2f2f;
}
